  <ion-card>
    <ion-item class="ion-margin" *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
      <ion-label class="ion-text-wrap">
        <h2>
          <span class="date">
            <ion-note>{{ message.date }}</ion-note>
            <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
          </span>
        </h2>
        <p>
          {{ message.text }}
        </p>
      </ion-label>
    
      </ion-item>
    <div class="ion-margin">
      <ion-button (click)="edit(message.id)">Edit</ion-button>
      <ion-button (click)="deleteMessage(message.id)">Delete</ion-button>
    </div>
  </ion-card>